body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(27, 27, 27);
}

.game {
    width: 100%;
    height: 100%;
    display: grid;
    color: white;
}

.cell {
    padding: 0;
    display: inline-block;
    border: 10px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 400%;
    background-color: #000;
    color: white;
    outline-color: #00000000;
}

.cell.empty {
    color: #00000000;
}

.cell.highlighted {
    background-color: #fff;
}

.cell.red {
    background-color: red;
}