body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(27, 27, 27);
    text-align: center;
}

.setting {
    padding: 5px 20px 5px 5px;
    background-color: rgb(56, 56, 56);
    border: 2px solid rgb(88, 88, 88);
    color: whitesmoke;
    margin: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.27);
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px 40px 40px 100px;
}

* {
    transition: all 0.1s ease;
}

.setting:hover {
    background-color: rgb(92, 92, 92);
}

.setting label {
    padding-left: 15px;
    font-size: 90%;
    color: rgb(235, 235, 235);
}

.setting:hover input {
    background-color: rgb(100, 100, 100);
}

.setting input {
    background-color: rgb(80, 80, 80);
    color: whitesmoke;
    padding-left: 10px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
    height: 25px;
    caret-color: white;
    font-size: 110%;
}

.setting input:hover {
    background-color: rgb(129, 129, 129);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 212, 212);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.856);
}

#settings {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}

h1 {
    color: whitesmoke;
    text-align: center;
    color: transparent;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9,
        0 3px 0 rgb(138, 138, 138),
        0 4px 0 #616161,
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2);
    font-size: 60px;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.accept-btn {
    border-radius: 2px;
    background-color: rgb(20, 160, 20);
    border: 2px solid rgb(21, 78, 7);
    color: white;
    padding: 5px 20px;
    margin-left: 10px;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
}

.accept-btn:hover {
    background-color: rgb(35, 194, 35);
    border-color: rgb(34, 117, 13);
}

.accept-btn:active {
    background-color: rgb(52, 218, 52);
    border-color: rgb(190, 223, 181);
    color: black;
}

.settings {
    min-width: 50%;
    max-width: 100%;
    width: fit-content;
    margin: auto;
}

.dangerous-btn {
    background-color: rgb(212, 0, 0);
    border-color: rgb(226, 30, 30);
}

.dangerous-btn:hover {
    background-color: rgb(243, 42, 42);
    border-color: rgb(247, 58, 58);
}

button.big {
    padding: 10px;
    margin: 20px;
    font-size: 120%;
    color: white;
    min-width: 250px;
}

.big:active {
    padding: 16px;
    margin: 14px;
}

.underscored {
    background-color: rgb(69, 71, 37);
}

.underscored:hover {
    background-color: rgb(95, 97, 76);
}